@charset "utf-8";
/*header头部*/
body,html{
    height: 100%;
    width: 100%;
}
#header-wrap,.main-wrap,.login-wrap,#center-wrap,#star-wrap,#tvBanner-wrap,.con-wrap,#kaoxiang-wrap{
    width: 1140px;
    margin: 0 auto;   
}

#header-wrap{
    position: relative;
    height: 40px;
}
header{
    background-color: #333;
    height: 40px;
    font-size: 12px;
}
#header-wrap li a{
    float:left; 
    height: 14px;
    margin-top: 14px;
    border-right: 1px solid #3c423c;
    width: 70px;
    text-align: center;
    color: #b0b0b0;
}
#header-wrap li:hover{
    cursor: pointer;
}
#header-wrap .header-c{
    width: 98px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right:128px;
}
.header-c a{
    float: left;
    color: #b0b0b0;
}
.header-c span{
    margin: 0 10px;
}
#header-wrap .header-r{
    float: right;
    line-height: 40px;
    width: 113px;
    height:40px;
    background-color: #424242;
    text-align: center;
}
.header-r a{
    color: #b0b0b0;
}
.header-r a .icon-gouwuche1{
    font-size: 14px;
    margin-left: 18px;
}

/* main */
/* 导航栏 */
.main-wrap{
    background-color: #f4f4f4;
    height: 50px;
}
.main-wrap .logo{
    width: 161px;
    float: left;
    background-color: #f4f4f4;
    margin: 20px 0 0 24px;
}

.logo,.nav li a,.nav .iconfont{
    float: left;
    width: 72px;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    color: #767676;
}
.nav .iconfont{
    font-size: 20px;
}
.logo,.nav .tvF:hover{
    color:#ed1c24;
    background-color: #fff;
}

.nav .iconfont:hover{
    background-color: #fff;
}


.nav{
    position: relative;
}
.nav .tv{
    width: 1140px;
    /* height: 300px; */
    position: absolute;
    top: 30px;
    left: 0px;
    display: none;
    background-color: #ffffff;
    padding-bottom: 40px;
    box-shadow: 0 5px 10px 0 #aaa;
}

.nav .tvShow .tv .show{
    width: 152px;
    text-align: center;
    margin: 0 18px;
    float: left;
}
.tvShow:hover .tv{
    position: absolute;
    display: block;
    z-index: 100;
    top: 50px;
}
.show .tvImg{
    width: 152px;
    margin-top: 30px;
}
.show a img{
    width: 100%;
    height: 100%;
}
.show h2{
    font-size: 14px;
    color: #222222;
}
.show span{
    font-size: 12px;
    color: #989898;
}
.show i{
    font-size: 12px;
    color: #ed1c24;
}






.con-wrap{
    height: 525px;
}
.serve{
    height: 64px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}
.serve-1{
    width: 228px;
    border: 1px #666;
    display: flex;
    justify-content:space-evenly;
}
.serve-2{
    display: flex;
    flex-direction:column;
    align-items: stretch;
}
.serve-2 span{
    font-size: 18px;
    color: #b2b2b2;
}
.serve-2 i{
    font-size: 12px;
    color: #b2b2b2;
}
/* content */
/* links */
.links{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.links .links-l{
    width: 888px;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}
.links .links-l li{
    margin-top: 22px;
}
.links .links-l a{
    font-size: 12px;
    font-weight: normal;
    color:#767676;
    line-height: 12px;
}
.links .links-l a:hover{
    color: #ff5d59;
}
.links .links-r{
    float: right;
    width: 250px;
    height: 128px;
    border-left: 1px solid #eaeaea;
}
/*links-r*/
.links-r{
    text-align: center;
}
.links-r .tel-num{
    font-size: 20px;
    color: #ff5d59;
    margin: 20px 0 15px;
}
.links-r .tel-link{
    font-size: 12px;
    color: #ff5d59;
    border: 1px solid #ff5d59;
    padding: 7px;
}
.links-r .tel-r{
    margin-left:16px ;
}
/*footer*/
#footer .footer-t{
    height: 100px;
    background-color: #313131;
    color: #666;
    font-size: 12px;
}
#footer .footer-t a{
    color: #666;
    font-size: 12px;
}
#footer .footer-t i{
    margin: 0 5px;
}
#footer .footer-t a:hover{
    color: #fff;
}
#footer .footer-t img{
    display: inline-block;
    margin: 37px 113px 0;
}
#footer .footer-t p{
    float: right;
    line-height: 100px;
    margin-right: 96px;
}
#footer .footer-b{
    height: 72px;
    text-align: center;
}
.footer-b .footer-log{
    display: flex;
    justify-content: center;
}
.footer-log a{
    margin: 10px 5px;
}



